@model IEnumerable<QUANLYNHAHANG.Models.Apdungcho>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tên_loại_áp_dụng)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tên_loại_áp_dụng)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Áp_dụng_cho }) |
            @Html.ActionLink("Details", "Details", new { id=item.Áp_dụng_cho }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Áp_dụng_cho })
        </td>
    </tr>
}

</table>
